---
const email = 'eugene@elkhovering.com';
const telegram = 'https://t.me/elkhovering';
---
<section class="section sec5">
  <div class="top">
    <div class="sec-title" data-i18n="contacts.title">/Contacts</div>
    <h4 data-i18n="contacts.q1">want to work <br /> together?</h4>
    <h4 data-i18n="contacts.q2">send me <br /> a message</h4>
  </div>

  <div class="contacts">
    <h1 data-cursor="copy" data-copy={email}>eugene@elk<wbr />hovering<wbr />.com</h1>
    <div class="social">
      <p data-i18n="contacts.or">or</p>
      <a data-cursor="open" href={telegram} target="_blank" rel="noopener">telegram</a>
      <p>/</p>
      <a data-cursor="open" href="">linkedin</a>
      <p>/</p>
      <a data-cursor="open" href="">behance</a>
    </div>
  </div>
</section>
